extends ./main.layout.pug

block content
  .welcome-section
    section.fullscreen-section.hero
      .container.hero__container
        header.header
          .header__logo
            a.logo(href="") БД
